<!--
/* 
   COMP 229 – Web Application Development
   Student ID: 301361099
   jaspreet kaur
*/
-->

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <h4  class="navbar-text">&copy; COMP229 - Copyright Fall 2023. All Rights reserved to Huy Lai.</h4>
  </div>
</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
