<!--
/* 
   COMP 229 – Web Application Development
   Student ID: 301361099
   jaspreet kaur
*/
-->

<%- include('../partials/header.ejs') %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <h2>Welcome to My <%= title %></h2>
            <img src="/Assets/images/Mid.png" alt="Midterm" style="width: 650px; height: 550px; margin-left: -90px; margin-top: 30px;">
        </div>
      </div>
    </div>

<%- include('../partials/footer.ejs') %>


